{% extends 'base.html.twig' %}

{% block title %}Attributs{% endblock %}

{% block body %}
    <h1>Attributs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ attribute.id }}</td>
            </tr>
            <tr>
                <th>Clé attribut</th>
                <td>{{ attribute.keyAttribute }}</td>
            </tr>
            <tr>
                <th>Valeur</th>
                <td>{{ attribute.value }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('attributes_index') }}">Retour à la liste</a> <br>

    <a href="{{ path('attributes_edit', {'id': attribute.id}) }}">Modifier</a>

    {{ include('attributes/_delete_form.html.twig') }}
{% endblock %}
