{% extends 'base.html.twig' %}

{% block title %}Conditions{% endblock %}

{% block body %}

    <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Conditions</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
            <tr>
                <th>Id</th>
                <th>Clé condition</th>
                <th>Valeur</th>
                <th>Intéragir</th>
            </tr>
        </thead>
        <tbody>
        {% for condition in conditions %}
            <tr>
                <td>{{ condition.id }}</td>
                <td>{{ condition.keyCondition }}</td>
                <td>{{ condition.value }}</td>
                <td>
                    <a href="{{ path('conditions_show', {'id': condition.id}) }}">Voir</a>
                    <a href="{{ path('conditions_edit', {'id': condition.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune entrée trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('conditions_new') }}">Créer une nouvelle entrée</a>
{% endblock %}
