{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}
<h1 class="h3 mb-2 text-gray-800">Actions</h1>
          <p class="mb-4">Lorem ipsum.Lorem ipsum.Lorem ipsum.Lorem ipsum.Lorem ipsum.</p>

    <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Actions</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ action.id }}</td>
            </tr>
            <tr>
                <th>Key_action</th>
                <td>{{ action.keyAction }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ action.value }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('actions_index') }}">Retour à la liste</a> <br>

    <a href="{{ path('actions_edit', {'id': action.id}) }}">Modifier</a>

    {{ include('actions/_delete_form.html.twig') }}
{% endblock %}
