{% extends 'base.html.twig' %}

{% block title %}Users index{% endblock %}

{% block body %}
<h1 class="h3 mb-2 text-gray-800">Users</h1>
          <p class="mb-4">Lorem ipsum.Lorem ipsum.Lorem ipsum.Lorem ipsum.Lorem ipsum.</p>

    <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Users</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

        <tbody>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Name</th>
                <th>First_name</th>
                <th>Customers</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.firstName }}</td>
                <th>{{user.customers}}</th>
                <td>
                    <a href="{{ path('users_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('users_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('users_new') }}">Create new</a>
{% endblock %}
